/*body {
		width: 80vh;
		margin-left: auto;
		margin-right: auto;
}*/
/*@media screen and (max-width: 1000px)
{
	.post {
		width: 80vh;
		margin-left: auto;
		margin-right: auto;
	}
}*/
/*
@media screen and (max-width: 500px)
{
	.post {
		width: 80vh;
		margin-left: auto;
		margin-right: auto;
	}
}*/


/*
@media screen and (max-width: 850px)
{
	body {
		background-color: lightblue;
	}
}

@media screen and (max-width: 500px)
{
	body {
		background-color: lightgreen;
	}
*/
